.castContainer {
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 20px;
  border-radius: 4px;
}

.castList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.castItem {
  margin-bottom: 10px;
  font-size: 14px;
  color: #555555;
}
